.App {
  text-align: center;
  background-color: #181E28;
}

.header {
  width: 100%;
  height: 7vh;
  background-color: steelblue;
  color: whitesmoke;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
}

.gridContainer {
  border: 1px solid #181E28;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181E28 ;
  min-height: 80vh;
  margin-top: 4vh;
}

.buttonSection {
  margin-bottom: 2vh;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center
}

.sonicIcon:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.activatedSonicIcon {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.snorlaxIcon:hover {
  animation: shake 2.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.activatedSnorlaxIcon {
  animation: shake 2.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.copyright {
  color: #b1f1fa;
  margin-top: 2vh;
}

.footerContainer {
  margin-top: 2vh;
}

.footerLinks {
  width: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}